{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <form id="registrationForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitRegistrationForm()">Register</button>
    </form>

    <script>
        function submitRegistrationForm() {
            var form = document.getElementById('registrationForm');
            var formData = new FormData(form);

            var jsonData = {};
            formData.forEach(function (value, key) {
                jsonData[key] = value;
            });

            fetch('{{ url_for("register_user") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => {
                // Обработка ответа от сервера
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
