<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="container mt-4">
    {% for user, logs in logs_by_user.items() %}
        <div class="card mb-4">
            <div class="card-header">
                User: {{ user }}
            </div>
            <ul class="list-group list-group-flush">
                {% for log in logs %}
                    <li class="list-group-item">
                        {% if log['log_type'] == 'server' %}
                            <i class="fas fa-server"></i>
                        {% elif log['log_type'] == 'client' %}
                            <i class="fas fa-desktop"></i>
                        {% else %}
                            <i class="fas fa-question"></i>
                        {% endif %}
                        <strong>{{ log['log_type'] }}</strong> - {{ log['message'] }} ({{ log['created_at'].strftime('%Y-%m-%d %H:%M:%S') }})
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
